extends layout

block content
    h2 Change Item
    h3 Item:
    input#item(type='text', value='#{item}')
    h3 Cost:
    input#cost(type='text', value='#{cost}')
    h3 Number:
    input#number(type='text', value='#{number}')
    h3 Description:
    input#description(type='text', value='#{description}')
    <br>
    h5 &nbsp;
    <br>
    a.btn.btn-success.saveIt.btn-circle(href='/') Save
    a.btn.btn-primary.btn-circle(href='/') Back
    input#id(type="hidden" name="id" value="#{id}")
    script(src='javascripts/changeEntry.js')









 

